.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appcard {
  margin: 0 auto;
  float: none;
  margin-top: 40px;
}
.appcard {
  margin: 0 auto;
  max-width: auto;
  float: none;
  margin-top: 40px;
}

.res {
  transform: translate(50%);
}

.icon img {
  height: 100px;
  width: 100px;
}

.picon img {
  height: 64px;
  width: 64px;
  opacity: 0.1;
}

.small {
  font-size: 20%;
}
.logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
}
.box {
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px 10px 10px 10px;
  font-size: 200%;
  font-family: monospace;
  text-align: center;
}
.smalltext {
  font-size: xx-small;
  text-align: center;
  margin-top: 3px;
}
.ibox {
  border: thin none gainsboro;
  border-radius: 5%;
  margin-top: 4px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;
  width: 95px;
  height: 95px;
}

.sidebar {
  background-color: #131b1d;
  align-items: left;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
}
.search {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -40%);
}
.searchButton {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 70%;
  transform: translate(50%, -40%);
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .logo img {
    width: 60%;
  }
  .search {
    top: 60%;
    width: 70%;
  }
  .res {
    transform: translate(0%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
