.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appcard {
  margin: 0 auto;
  max-width: auto;
  float: none;
  margin-top: 40px;
}

.res {
  transform: translate(50%);
  position: relative;
  z-index: 1;
}

.icon img {
  height: 100px;
  width: 100px;
}

.picon img {
  height: 64px;
  width: 64px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 4px;
}

.logo img {
  position: absolute;
  left: 50%;
  top: 35%;
  width: 50%;
  transform: translate(-50%, -30%);
}
.box {
  border-radius: 50%;
  border: 10px solid #0000a0;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 100%;
  font-family: "Nunito";
  text-align: center;
  width: 125px;
  height: 125px;
}

.score {
  border-radius: 50%;
  background-color: green;
  font-size: 100%;
  font-family: "Nunito";
  text-align: center;
  width: 40px;
  height: 40px;
}

.smalltext {
  font-size: xx-small;
  text-align: center;
  margin-top: 3px;
}
.cat {
  font-size: 200%;
  margin-left: 20px;
  padding-bottom: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 50px;
  padding: 0;
}

h {
  font-size: 200%;
  font-family: "Raleway";
}

.ibox {
  border: thin none gainsboro;
  border-radius: 5%;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
  width: 98px;
  height: 98px;
  opacity: 0.4;
}
.leakbox {
  border: 2px solid black;
  border-radius: 5%;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
  width: 98px;
  height: 98px;
}

.sidebar {
  background-color: #000850;
  align-items: left;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
}
.homesearch {
  position: fixed;
  width: 40%;
  left: 48%;
  top: 60%;
  margin-bottom: 0;
  transform: translate(-48%, -40%);
}
.searchButton {
  position: absolute;
  width: 40%;
  left: 80%;
  top: 55%;
  transform: translate(50%, -55%);
}

.resultSearch {
  top: 20%;
  left: 40%;
  width: 30%;
  transform: translate(40%, 20%);
}

.suggest {
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .logo img {
    width: 60%;
  }
  .search {
    top: 60%;
    width: 70%;
  }
  .res {
    transform: translate(0%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
